#System language
lang it_IT
#Language modules to install
langsupport it_IT
#System keyboard
keyboard it
#System mouse
mouse
#System timezone
timezone Europe/Rome
#Root password
rootpw --disabled
#Initial user
user bglug --fullname "BgLUG User" --iscrypted --password $1$9zGKOCDN$//dSCH70wDHZITGDDxdiv1
#Reboot after installation
reboot
#Use text mode install
text
#Install OS instead of upgrade
install
#Use Web installation
#url --url http://archive.ubuntu.com/ubuntu
url --url http://{{ mirrorpath }}archive.ubuntu.com/ubuntu
#System bootloader configuration
bootloader --location=mbr 
#Clear the Master Boot Record
zerombr yes
#Partition clearing information
clearpart --all --initlabel 
#Disk partitioning information
part swap --recommended 
part / --fstype ext4 --size 1 --grow 
#System authorization infomation
auth  --useshadow  --enablemd5 
#Network information
network --bootproto=dhcp --device=eth0
#Firewall configuration
firewall --disabled 
#Do not configure the X Window System
skipx
#Install packages
%packages
edubuntu-desktop
ubuntu-edu-secondary
vim
screen
cifs-utils
openssh-server
